<%= form_for @boat do |f| %>





 

  <div class="field">
    <%= f.label :name, "Boat Name" %>
    <%= f.text_field :name %>
  </div>

  

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
